body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #141414;
}

.container {
  height: 20rem;
  width: 30rem;
  display: flex;
  flex-wrap: wrap; 
}
.container div {
  height: 10rem;
  width: 10rem;
  border: 0.5rem solid #141414;
  box-sizing: border-box;
  background-color: lightgrey;
  border-radius: 1rem;
}

.buttons {
  width: 30rem;
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button:hover {
  cursor: pointer;
}
.buttons .start {
  width: 5rem;
  height: 2rem;
  border-style: none;
  background-color: #f3f3f3;
  border-radius: 0.25rem;
}
.buttons label {
  color: #f3f3f3;
}
.buttons select {
  width: 5rem;
  height: 2rem;
  border-style: none;
  background-color: #0275d8;
  border-radius: 0.25rem;
}