:root {
  --almost-white: #f3f3f3;
  --almost-black: #141414;
}

/* My CSS */
.buttons,
.container {width: 30rem}
.buttons,
.container, 
body {display: flex}
body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: var(--almost-white);
  font-family: Arial, Helvetica, sans-serif;
}
.logo-img {
  width: 21rem;
  height: 21rem;
  background-image: url(images/847C0F61-61EF-4BEE-BD42-21B47F854D35.PNG);
  background-size: cover;
  background-position: center;
}
.container {
  height: 14rem;
  width: 21rem;
  flex-wrap: wrap;
}
.container div {
  height: 7rem;
  width: 7rem;
  border: 0.5rem solid var(--almost-white);
  box-sizing: border-box;
  background-color: #d3d3d3;
  border-radius: 1rem;
}
.buttons .start,
.buttons select {
  width: 5rem;
  height: 2rem;
  border-style: none;
  border-radius: 0.25rem;
}
.container div:active {
  background: rgba(0, 0, 0, 0.5);
}
.buttons {
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  width: 21rem;
}
button:hover {cursor: pointer}
.buttons .start {
  background-color: var(--almost-black);
  color: var(--almost-white);
}
.buttons label {color: var(--almost-black)}
.buttons select {
  background-color: #0275d8;
  color: var(--almost-white);
}
.buttons .confirm {
  border-style: none;
  background-color: var(--almost-black);
  color: var(--almost-white);
}
.doodledee-logo {
  width: 3rem;
  border-radius: 50%;
}

/* Tablet */
@media only screen and (max-width: 70em) {
  .logo-img {
    width: 26rem;
    height: 26rem;
  }
  .container {
    height: 20rem;
    width: 30rem;
  }
  .container div {
    border-radius: 1.5rem;
    height: 10rem;
    width: 10rem;
  }
  .buttons {width: 25rem}
  .buttons .start, .buttons select, .buttons .confirm {
    border-radius: 0.35rem;
    width: 6rem;
    height: 2rem;
  }
  .buttons select {text-align: center}
  .doodledee-logo {margin-top: 5rem}
}

/* Mobile */
@media only screen and (max-width: 38em) {
  .logo-img {
    width: 21rem;
    height: 21rem;
  }
  .container {
    height: 14rem;
    width: 21rem;
  }
  .container div {
    height: 7rem;
    width: 7rem;
    border-radius: 1rem;
  }
  .buttons {
    width: 21rem;
  }
  .buttons .start,
  .buttons select,
  .buttons .confirm {
    width: 5rem;
    border-radius: 0.25rem;
  }
  .doodledee-logo {margin-top: 3rem}
}

/* Small Mobile */
@media only screen and (max-width: 20em) {
  .logo-img {
    width: 8rem;
    height: 8rem;
    margin-top: 0rem;
  }
  .container {
    height: 12rem;
    width: 18rem;
  }
  .container div {
    height: 6rem;
    width: 6rem;
  }
  .buttons {
    width: 16rem;
    margin-top: 0rem;
    height: 3.5rem;
  }
  .buttons .start,
  .buttons select,
  .buttons .confirm {
    font-size: 0.6rem;
    width: 3.2rem;
    height: 1.75rem;
  }
  .doodledee-logo {margin-top: 0rem}
}

/* switch this media query to dark mode later */
@media (prefers-color-scheme: dark) {
  /* My CSS */
  body {background-color: var(--almost-black)}
  .logo-img {background-image: url(images/memory-logo.png)}
  .container div {
    border: 0.5rem solid var(--almost-black);
    background-color: #d3d3d3;
  }
  .container div:active {background: rgba(0, 0, 0, 0.5)}
  .buttons .start {
    background-color: var(--almost-white);
    color: var(--almost-black);
  }
  .buttons label {color: var(--almost-white)}
  .buttons select {
    background-color: #0275d8;
    color: var(--almost-white);
  }
  .buttons .confirm {
    background-color: var(--almost-white);
    color: var(--almost-black);
  }
}